.FeedLayoutContent_container {
    height: 100vh;
    box-sizing: border-box;
}

.FeedLayoutContent_content {
    box-sizing: border-box;
    height: calc(100vh - 70px);
    overflow: scroll;
    padding: 10px 10px 0 10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.FeedLayoutContent_content::-webkit-scrollbar {
    display: none;
}