.Post_container {
    margin: 0 10px 20px 10px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    display: flex;
}

.Post_content {
    margin-left: 10px;
    flex-grow: 1;
}

.Post_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Post_expert_photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: gray;
} 

.Post_metrics{
    display: flex;
}

.Post_metrics div {
    text-align: center;
}