.FeedTrending_container {
    margin: 0 10px 0 10px;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.FeedTrending_heading {
    display: flex;
    align-items: center;
}