:root {
    --text-primary: #1F2B5B;
    --text-highlight: #E24065;
    --box-shadow: box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --background: rgb(246, 248, 250);
}

* {
    color: var(--text-primary);
}